@mixin flex($orientation: row, $align: stretch, $justify: stretch) {
  display: flex;
  flex-direction: $orientation;
  align-items: $align;
  justify-content: $justify;
}

@mixin transition($props: all, $duration: 250ms, $timing: ease) {
  transition: $props $duration $timing;
}

@mixin gradientSelection($section) {
  @if $section == "landing" {
    background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
      radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%),
      linear-gradient(58.72deg, #2200f2 0%, #530000 100%),
      linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%),
      linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%),
      linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%),
      radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
    background-blend-mode: overlay, color-burn, screen, overlay, difference,
      difference, normal;
  }

  @if $section == "featured" {
    background: linear-gradient(
        301.28deg,
        #00c2ff 54.38%,
        rgba(0, 255, 224, 0) 100%
      ),
      linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
      radial-gradient(
        100% 246.94% at 100% 0%,
        #8000ff 0%,
        #ba75ff 54.17%,
        #ff0000 100%
      ),
      linear-gradient(58.72deg, #2200f2 0%, #530000 100%),
      linear-gradient(154.03deg, #ff0000 0%, #00ff94 74.04%),
      linear-gradient(301.27deg, #ff0000 0%, #0038ff 84.63%),
      linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%),
      radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
    background-blend-mode: multiply, overlay, color-burn, screen, difference,
      difference, difference, normal;
  }

  @if $section == "myWork" {
    background: linear-gradient(121.28deg, #03002c 0%, #00ff94 100%),
      linear-gradient(180deg, #00647a 0%, #ffffff 100%),
      linear-gradient(244.35deg, #ff8282 0%, #e86b6b 50.58%, #001b29 100%),
      linear-gradient(244.35deg, #e03f3f 0%, #00114b 49.48%, #ff0000 100%),
      radial-gradient(
        100% 216.55% at 0% 0%,
        #2400ff 0%,
        #ff0000 44.27%,
        #610051 100%
      ),
      linear-gradient(307.27deg, #096f5c 0.37%, #687eb5 50.19%, #8877ce 100%),
      radial-gradient(
        56.34% 100% at 36.02% 0%,
        #ff00c7 0%,
        #006c7a 38.54%,
        #ff9900 100%
      );
    background-blend-mode: overlay, difference, exclusion, overlay, difference,
      color-dodge, normal;
    background-size: 300% 100%;
  }

  @if $section == "card1" {
    background: linear-gradient(121.28deg, #03002c 0%, #00ff94 100%),
      linear-gradient(180deg, #00647a 0%, #ffffff 100%),
      linear-gradient(244.35deg, #ff8282 0%, #e86b6b 50.58%, #001b29 100%),
      linear-gradient(244.35deg, #e03f3f 0%, #00114b 49.48%, #ff0000 100%),
      radial-gradient(
        100% 216.55% at 0% 0%,
        #2400ff 0%,
        #ff0000 44.27%,
        #610051 100%
      ),
      linear-gradient(307.27deg, #096f5c 0.37%, #687eb5 50.19%, #8877ce 100%),
      radial-gradient(
        56.34% 100% at 36.02% 0%,
        #ff00c7 0%,
        #006c7a 38.54%,
        #ff9900 100%
      );
    background-blend-mode: overlay, difference, exclusion, overlay, difference,
      color-dodge, normal;
  }

  @if $section == "card2" {
    background: radial-gradient(65% 100% at 50% 0%, #18005b 0%, #000000 100%),
      radial-gradient(
        circle at 30% 45%,
        #ff0000 0%,
        #ff0000 5%,
        #ffff00 5%,
        #ffff00 10%,
        #00ff00 10%,
        #00ff00 15%,
        #00ffff 15%,
        #00ffff 20%,
        #0000ff 20%,
        #0000ff 30%,
        #ff00ff 30%,
        #ff00ff 40%,
        #ff0000 40%
      ),
      radial-gradient(
        circle at 50% 0%,
        #ff0000 0%,
        #ff0000 5%,
        #ffff00 5%,
        #ffff00 10%,
        #00ff00 10%,
        #00ff00 20%,
        #00ffff 20%,
        #00ffff 30%,
        #0000ff 30%,
        #0000ff 40%,
        #ff00ff 40%,
        #ff00ff 50%,
        #ff0000 50%
      ),
      conic-gradient(
        from 15deg at 20% 420%,
        #ff0000 0deg,
        #ff0000 55deg,
        #ffff00 60deg,
        #ffff00 120deg,
        #00ff00 120deg,
        #00ff00 180deg,
        #00ffff 180deg,
        #00ffff 240deg,
        #0000ff 240deg,
        #0000ff 300deg,
        #ff00ff 310deg,
        #ff00ff 360deg,
        #ff0000 360deg
      );
    background-blend-mode: screen, multiply, multiply, normal;
  }
}
