/* ======== Colors ======== */
$cl-white-1: #fafafa;
$cl-white-2: #f1f0f6;
$cl-black-1: #040918;
$cl-blue-1: #07072e;
$cl-blue-2: #0d004d;
$cl-cyan-1: #2FC7B8;
$cl-red-1: #d80001;
$cl-red-2: #f8393a;

$cl-light-transparent-1: rgba(255, 255, 255, 0.05);
$cl-light-transparent-2: rgba(255, 255, 255, 0.3);
$cl-light-transparent-3: rgba(255, 255, 255, 0.7);
$cl-light-transparent-4: rgba(255, 255, 255, 0.9);
$cl-dark-transparent-1: rgba(0, 0, 0, 0.3);
$cl-dark-transparent-2: rgba(0, 0, 0, 0.35);
$cl-dark-transparent-3: rgba(0, 0, 0, 0.5);

/* ======== Sizes ======== */
$size-1: 4rem; //64px
$size-2: 3.125rem; //50px
$size-3: 2.25rem; //36px
$size-4: 1.25rem; //20px
$size-5: 0.875rem; //14px
$size-5: 0.825rem; //13,2px

/* ======== Fonts ======== */
$font-stack: "Poppins", sans-serif;
$font-base-size: 16px;
$letter-spacing: -1.2px;
$line-height-text: 1.7;
$line-height-title: 1.1;

$tag-font-weight: 600;

/* ======== Margins & Padding ======== */
$margin-title-y: 0.8em 0 0.2em 0;
$margin-text-y: 1em 0;
$margin-project: 1.5em 0 3.5em 0;
$margin-card-y: 1em 0 2em 0;
$margin-tag: 0.2em;
$padding-tag: 0.5em 0.8em;
$padding-nav-link: 1em 1.5em;
$padding-x: 0 1.25em;

/* ======== Borders ======== */
$border-nav-link: 1px solid $cl-light-transparent-1;
$border-radius: 5px;
$border-radius-card: 15px;
$border-radius-tag: 30px;
