/*
==================
Imports
==================
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "base/index";

/*
==================
CSS Reset
==================
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $cl-white-1;
}

/*
==================
Global
==================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  font-size: $font-base-size;
  color: $cl-blue-2;
  background-color: $cl-blue-2;
}
h1 {
  font-size: $size-2;
}

h2 {
  font-size: $size-3;
  color: $cl-white-1;
}
h3 {
  font-size: $size-3;
  font-weight: 600;
}
h4 {
  font-size: $size-4;
  line-height: $line-height-title;
}
li {
  list-style-type: none;
}

b {
  font-weight: 500;
}

section {
  min-height: 100vh;
  width: 100%;
  @include flex(0, center, center);
}

.section_container {
  width: 90%;
  height: 100%;
  @include flex(column, center, center);
}

.title {
  font-size: $size-1;
  letter-spacing: $letter-spacing;
}

.text {
  text-align: justify;
  margin: $margin-text-y;
  line-height: $line-height-text;
}

.btn {
  @include flex(0, center, space-between);
  @include transition(all, 450ms, ease);
  padding: 0.7em 1em;
  border-radius: $border-radius;
}

.svg {
  @include transition(all, 450ms, ease);
}

.btn_filled {
  color: $cl-blue-2;
  background-color: $cl-white-1;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .svg {
    margin-right: 0.5em;
    fill: $cl-blue-2;
  }
}
.btn_filled:hover {
  @include gradientSelection("landing");
  color: $cl-white-1;

  .launch_svg {
    fill: $cl-white-1;
  }
}

.btn_transparent {
  border: 1px solid rgba(0, 0, 0, 0);
  .svg {
    margin-right: 0.5em;
    fill: $cl-white-1;
  }
}
.btn_transparent:hover {
  background-color: $cl-dark-transparent-2;
  color: $cl-cyan-1;

  .svg {
    fill: $cl-cyan-1;
  }
}

.card {
  border-radius: $border-radius-card;
  color: $cl-blue-2;
  background-color: $cl-white-1;
  width: 225px;
  height: 350px;
  margin: $margin-card-y;
  position: relative;

  .card_header {
    @include flex(column, center, center);
    color: $cl-white-1;
    height: 50%;
  }
  .header_title {
    text-align: center;
    margin: 0 1em 1em 1em;
    z-index: 2;
  }
  .desktop_icon {
    margin: $margin-text-y;
    z-index: 2;
  }
  .card_content {
    width: 100%;
    @include flex(0, center, center);
  }
  .skills_wrapper {
    @include flex(column, 0, space-around);
    width: 80%;
    margin: $margin-text-y;
    z-index: 2;
  }
  .skill {
    @include transition(all, 450ms, ease);
    font-weight: 600;
  }
  .skill::before {
    content: "- ";
  }
}

.card_background {
  @include transition(all, 450ms, ease);
  @include gradientSelection("card1");
  border-radius: $border-radius-card $border-radius-card 0 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 50%;
  z-index: 1;
}

.card:hover {
  .card_background {
    max-height: 100%;
    border-radius: $border-radius-card;
    filter: brightness(55%);
  }
  .skill {
    color: $cl-white-1;
  }
}

.project {
  color: $cl-white-1;
  margin: $margin-project;

  .project_image_wrapper {
    position: relative;
    overflow: hidden;
  }

  .project_links_container {
    @include transition();
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cl-dark-transparent-3;
    border-radius: $border-radius;
  }
  .project_links_container.active {
    bottom: 1%;
  }

  .links_wrapper {
    @include flex(column, center, space-evenly);
    width: 100%;
    height: 100%;
  }

  .project_title {
    font-weight: 600;
    font-size: $size-3;
  }
  .project_img {
    @include transition();
    max-width: 100%;
    border-radius: $border-radius;
  }
  .project_text {
    text-align: justify;
    margin: $margin-text-y;
  }
}

.tag {
  @include transition();
  display: inline-block;
  cursor: pointer;
  margin: $margin-tag;
  border-radius: $border-radius-tag;
  padding: $padding-tag;
  font-size: $size-5;
  font-weight: $tag-font-weight;
  background-color: $cl-light-transparent-1;
  color: $cl-light-transparent-3;
}
.tag:hover {
  background-color: $cl-light-transparent-2;
  color: $cl-light-transparent-4;
}

.text_outline {
  color: transparent;
  -webkit-text-stroke: 1px $cl-white-1;
}

/*
==================
Layout
==================
*/

/* ======== Navbar ======== */
.navbar {
  position: fixed;
  z-index: 100;
  height: $size-1;
  width: 100%;
  @include flex(0, center, space-between);
  padding: $padding-x;
  @include transition(background-color, 450ms, ease);

  .nav_links {
    position: fixed;
    width: 100%;
    top: $size-1;
    left: 100%;
    display: flex;
    flex-direction: column;
    background-color: $cl-dark-transparent-1;
    @include transition(all, 450ms, ease);
  }
  .link {
    padding: $padding-nav-link;
    border-bottom: $border-nav-link;
    @include transition();
  }
  .link:hover {
    background-color: $cl-dark-transparent-2;
    color: $cl-cyan-1;
  }

  .hamburguer {
    @include transition();
  }
}

.navbar.active {
  background-color: $cl-dark-transparent-1;
}
.nav_links.active {
  left: 0;
}
.hamburguer.active {
  transform: rotate(90deg);
}

/* ======== Main Content ======== */
#main_content {
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
}

/* ======== Landing ======== */
#landing {
  @include gradientSelection("landing");

  .hero_title {
    line-height: 1.2;
  }
}

/* ======== About Me ======== */
#aboutMe {
  @include flex(column, center, flex-start);
  background-color: $cl-white-2;

  .title_aboutMe {
    margin: $margin-title-y;
    color: $cl-blue-2;
  }

  .wrapper_aboutMe {
    @include flex(column, center, center);
  }

  .img {
    width: 150px;
    height: 150px;
    background-color: $cl-dark-transparent-1;
    border-radius: 50%;
    margin-bottom: 1em;
  }

  .text_aboutMe {
    font-size: $size-4;
  }
}

/* ======== Featured ======== */
#featured {
  @include flex(column, center, flex-start);
  @include gradientSelection("featured");
  .title_featured {
    margin: $margin-title-y;
  }
  .content_featured {
    color: $cl-white-1;
    @include flex(column, center, center);
  }
  .subtitle {
    align-self: flex-start;
  }
  .mockup {
    max-width: 325px;
    margin: 2em 0;
  }
  .wrapper_btn_featured {
    width: 335px;
    margin: 1em 0;
    @include flex(0, center, space-around);
  }
}

/* ======== My Skills ======== */
#mySkills {
  @include flex(column, center, flex-start);
  min-height: 100vh;

  .title_mySkills {
    margin: $margin-title-y;
    color: $cl-red-1;
  }

  .card_backend {
    .card_background {
      @include gradientSelection("card2");
    }
  }
}

/* ======== My Work ======== */
#myWork {
  @include flex(column, center, flex-start);
  @include gradientSelection("myWork");

  .title_myWork {
    margin: $margin-title-y;
  }

  .projects_container {
    .subtitle {
      font-size: $size-2;
      color: $cl-red-2;
    }
  }

  .components_container {
    .subtitle {
      color: $cl-cyan-1;
      font-size: $size-2;
      text-align: right;
    }
  }
}

/*
==================
Media Queries
==================
*/
