/*
==================
Imports
==================
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ======== Colors ======== */
/* ======== Sizes ======== */
/* ======== Fonts ======== */
/* ======== Margins & Padding ======== */
/* ======== Borders ======== */
/*
==================
CSS Reset
==================
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

/*
==================
Global
==================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #0d004d;
  background-color: #0d004d;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.25rem;
  color: #fafafa;
}

b {
  font-weight: 500;
}

section {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: 3.125rem;
  letter-spacing: -1.2px;
}

.text {
  text-align: justify;
  margin: 1em 0;
  line-height: 1.7;
}

/*
==================
Special Classes
==================
*/
.text_outline {
  color: transparent;
  -webkit-text-stroke: 1px #fafafa;
}

/*
==================
Layout
==================
*/
/* ======== Navbar ======== */
.navbar {
  position: fixed;
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.25em;
  -webkit-transition: background-color 450ms ease;
  transition: background-color 450ms ease;
}

.navbar .nav_links {
  position: fixed;
  width: 100%;
  top: 4rem;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.navbar .link {
  padding: 1em 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar .link:hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: #44dccd;
}

.navbar .hamburguer {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav_links.active {
  left: 0;
}

.hamburguer.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* ======== Main Content ======== */
#main_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ======== Landing ======== */
#landing {
  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%), linear-gradient(58.72deg, #2200f2 0%, #530000 100%), linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%), linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%), linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
}

#landing .hero_title {
  line-height: 1.2;
}

/* ======== About Me ======== */
#aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f1f0f6;
}

#aboutMe .title_aboutMe {
  margin: 0.8em 0 0.2em 0;
  color: #0d004d;
}

#aboutMe .wrapper_aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutMe .img {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-bottom: 1em;
}

#aboutMe .text_aboutMe {
  font-size: 1.25rem;
}

/*
==================
Media Queries
==================
*/
/*# sourceMappingURL=style.css.map */