/*
==================
Imports
==================
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ======== Colors ======== */
/* ======== Sizes ======== */
/* ======== Fonts ======== */
/* ======== Margins & Padding ======== */
/* ======== Borders ======== */
/*
==================
CSS Reset
==================
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

/*
==================
Global
==================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #0d004d;
  background-color: #0d004d;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.25rem;
  color: #fafafa;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.1;
}

li {
  list-style-type: none;
}

b {
  font-weight: 500;
}

section {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0;
}

.section_container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: 4rem;
  letter-spacing: -1.2px;
}

.text {
  text-align: justify;
  margin: 1em 0;
  line-height: 1.7;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  padding: 0.7em 1em;
  border-radius: 5px;
}

.svg {
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.btn_filled {
  color: #0d004d;
  background-color: #fafafa;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn_filled .svg {
  margin-right: 0.5em;
  fill: #0d004d;
}

.btn_filled:hover {
  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%), linear-gradient(58.72deg, #2200f2 0%, #530000 100%), linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%), linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%), linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
  color: #fafafa;
}

.btn_filled:hover .launch_svg {
  fill: #fafafa;
}

.btn_transparent {
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn_transparent .svg {
  margin-right: 0.5em;
  fill: #fafafa;
}

.btn_transparent:hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: #2fc7b8;
}

.btn_transparent:hover .svg {
  fill: #2fc7b8;
}

.card {
  border-radius: 15px;
  color: #0d004d;
  background-color: #fafafa;
  width: 210px;
  height: 350px;
  margin: 1em 0 2em 0;
  position: relative;
}

.card .card_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
  height: 50%;
}

.card .header_title {
  text-align: center;
  margin: 0 1em 1em 1em;
  z-index: 2;
}

.card .desktop_icon {
  margin: 1em 0;
  z-index: 2;
}

.card .card_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .skills_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 1em 0;
  z-index: 2;
}

.card .skill {
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  font-weight: 600;
}

.card .skill::before {
  content: "- ";
}

.card_background {
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  background: linear-gradient(121.28deg, #03002c 0%, #00ff94 100%), linear-gradient(180deg, #00647a 0%, #ffffff 100%), linear-gradient(244.35deg, #ff8282 0%, #e86b6b 50.58%, #001b29 100%), linear-gradient(244.35deg, #e03f3f 0%, #00114b 49.48%, #ff0000 100%), radial-gradient(100% 216.55% at 0% 0%, #2400ff 0%, #ff0000 44.27%, #610051 100%), linear-gradient(307.27deg, #096f5c 0.37%, #687eb5 50.19%, #8877ce 100%), radial-gradient(56.34% 100% at 36.02% 0%, #ff00c7 0%, #006c7a 38.54%, #ff9900 100%);
  background-blend-mode: overlay, difference, exclusion, overlay, difference, color-dodge, normal;
  border-radius: 15px 15px 0 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 50%;
  z-index: 1;
}

.card:hover .card_background {
  max-height: 100%;
  border-radius: 15px;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

.card:hover .skill {
  color: #fafafa;
}

.project {
  color: #fafafa;
  margin: 1.5em 0 3.5em 0;
}

.project .project_image_wrapper {
  position: relative;
  overflow: hidden;
}

.project .project_links_container {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.project .project_links_container.active {
  bottom: 1%;
}

.project .links_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.project .project_title {
  font-weight: 600;
  font-size: 2.25rem;
}

.project .project_img {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  max-width: 100%;
  border-radius: 5px;
}

.project .project_text {
  text-align: justify;
  margin: 1em 0;
}

.tag {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  display: inline-block;
  cursor: pointer;
  margin: 0.2em;
  border-radius: 30px;
  padding: 0.5em 0.8em;
  font-size: 0.825rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.7);
}

.tag:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.9);
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.text_outline {
  color: transparent;
  -webkit-text-stroke: 1px #fafafa;
}

/*
==================
Layout
==================
*/
/* ======== Navbar ======== */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background-color 450ms ease;
  transition: background-color 450ms ease;
  width: 100%;
  height: 4rem;
  padding: 0 1.25em;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 100;
}

.navbar .nav_links {
  position: fixed;
  width: 100%;
  top: 4rem;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.navbar .link {
  padding: 1em 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar .link:hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: #2fc7b8;
}

.navbar .hamburguer {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.navbar.active {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav_links.active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.hamburguer.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* ======== Main Content ======== */
#main_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ======== Landing ======== */
#landing {
  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%), linear-gradient(58.72deg, #2200f2 0%, #530000 100%), linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%), linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%), linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
}

#landing .section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing .hero_title {
  line-height: 1.1;
}

/* ======== About Me ======== */
#aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f1f0f6;
}

#aboutMe .title_aboutMe {
  color: #0d004d;
}

#aboutMe .wrapper_aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutMe .img {
  width: 100%;
  max-width: 325px;
  border-radius: 50%;
  margin-bottom: 1em;
}

#aboutMe .text_aboutMe {
  font-size: 1.25rem;
}

/* ======== Featured ======== */
#featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: linear-gradient(301.28deg, #00c2ff 54.38%, rgba(0, 255, 224, 0) 100%), linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #8000ff 0%, #ba75ff 54.17%, #ff0000 100%), linear-gradient(58.72deg, #2200f2 0%, #530000 100%), linear-gradient(154.03deg, #ff0000 0%, #00ff94 74.04%), linear-gradient(301.27deg, #ff0000 0%, #0038ff 84.63%), linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: multiply, overlay, color-burn, screen, difference, difference, difference, normal;
}

#featured .content_featured {
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#featured .subtitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#featured .mockup {
  max-width: 325px;
  margin: 2em 0;
}

#featured .wrapper_btn_featured {
  width: 335px;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* ======== My Skills ======== */
#mySkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
}

#mySkills .title_mySkills {
  color: #d80001;
}

#mySkills .card_backend .card_background {
  background: radial-gradient(65% 100% at 50% 0%, #18005b 0%, #000000 100%), radial-gradient(circle at 30% 45%, #ff0000 0%, #ff0000 5%, #ffff00 5%, #ffff00 10%, #00ff00 10%, #00ff00 15%, #00ffff 15%, #00ffff 20%, #0000ff 20%, #0000ff 30%, #ff00ff 30%, #ff00ff 40%, #ff0000 40%), radial-gradient(circle at 50% 0%, #ff0000 0%, #ff0000 5%, #ffff00 5%, #ffff00 10%, #00ff00 10%, #00ff00 20%, #00ffff 20%, #00ffff 30%, #0000ff 30%, #0000ff 40%, #ff00ff 40%, #ff00ff 50%, #ff0000 50%), conic-gradient(from 15deg at 20% 420%, #ff0000 0deg, #ff0000 55deg, #ffff00 60deg, #ffff00 120deg, #00ff00 120deg, #00ff00 180deg, #00ffff 180deg, #00ffff 240deg, #0000ff 240deg, #0000ff 300deg, #ff00ff 310deg, #ff00ff 360deg, #ff0000 360deg);
  background-blend-mode: screen, multiply, multiply, normal;
}

/* ======== My Work ======== */
#myWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: linear-gradient(121.28deg, #03002c 0%, #00ff94 100%), linear-gradient(180deg, #00647a 0%, #ffffff 100%), linear-gradient(244.35deg, #ff8282 0%, #e86b6b 50.58%, #001b29 100%), linear-gradient(244.35deg, #e03f3f 0%, #00114b 49.48%, #ff0000 100%), radial-gradient(100% 216.55% at 0% 0%, #2400ff 0%, #ff0000 44.27%, #610051 100%), linear-gradient(307.27deg, #096f5c 0.37%, #687eb5 50.19%, #8877ce 100%), radial-gradient(56.34% 100% at 36.02% 0%, #ff00c7 0%, #006c7a 38.54%, #ff9900 100%);
  background-blend-mode: overlay, difference, exclusion, overlay, difference, color-dodge, normal;
  background-size: 300% 100%;
}

#myWork .projects_container .subtitle {
  font-size: 3.125rem;
  color: #f8393a;
}

#myWork .components_container .subtitle {
  color: #2fc7b8;
  font-size: 3.125rem;
  text-align: right;
}

/* ======== Contact Me ======== */
#contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #f1f0f6;
}

#contactMe .title_wrapper {
  margin: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#contactMe .title_gradient {
  background: linear-gradient(153.03deg, #0500ff 16.92%, #000000 87.01%), linear-gradient(121.28deg, #ffffff 70.31%, rgba(25, 0, 177, 0.85) 100%), linear-gradient(195.81deg, #ffb6b6 8.74%, #00492f 100%), linear-gradient(269.62deg, #ffffff 0.44%, #0077aa 99.56%), radial-gradient(77.85% 100% at 50% 0%, #6bff71 0%, #190024 100%), linear-gradient(339.45deg, #00ff38 1.34%, #ff0000 73.07%), linear-gradient(201.13deg, #22f400 -0.47%, #dbff00 100%), linear-gradient(94.04deg, #18007a 0%, #00d5c8 51.04%, #f4ff75 100%), #ffffff;
  background-blend-mode: exclusion, multiply, overlay, multiply, color-dodge, difference, difference, normal, normal;
  margin: 0.1em 0;
  padding: 0 0.1em;
}

#contactMe .title_gradient:nth-of-type(2) {
  background: linear-gradient(130deg, #ad90c1 0%, #030054 100%), linear-gradient(130deg, #09007b 0%, rgba(15, 0, 66, 0) 30%), linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, white 0%, rgba(37, 0, 66, 0.8) 100%), linear-gradient(121.18deg, #1400ff 0.45%, #1b003e 100%), linear-gradient(154.03deg, #ce0000 0%, #ff003d 74.04%), linear-gradient(341.1deg, #b25bba 7.52%, #100077 77.98%), linear-gradient(222.34deg, #a90000 12.99%, #00ffe0 87.21%), linear-gradient(150.76deg, #b7d500 15.35%, #2200aa 89.57%);
  background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay, difference, difference, normal;
}

#contactMe .title_gradient {
  font-size: 2.8rem;
}

#contactMe .contact_title {
  color: #040918;
}

#contactMe .btn_wrapper {
  margin: 0.8em 0 0.2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contactMe .contact_icon {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  fill: #040918;
}

#contactMe .contact_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contactMe .contact_icon.linkedin:hover {
  fill: #0077b5;
}

#contactMe .contact_icon.email:hover {
  fill: #d80001;
}

/*
==================
Media Queries
==================
*/
@media (min-width: 520px) {
  #landing h2 {
    font-size: 3.125rem;
    line-height: 1.3;
  }
  #landing h1 {
    font-size: 4rem;
  }
  #mySkills .content_mySkills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: 0;
            flex-direction: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #myWork .content_myWork {
    max-width: 455px;
  }
  #contactMe .title_gradient {
    font-size: 4rem;
  }
}

@media (min-width: 700px) {
  #featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #featured .content_featured {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #featured .subtitle_wrapper {
    max-width: 335px;
  }
}

@media (min-width: 900px) {
  .navbar {
    height: 4.5em;
  }
  .navbar .nav_links {
    width: auto;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: transparent;
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
  }
  .navbar .main_logo {
    padding: 1.5em;
  }
  .navbar .link {
    padding: 1.5em;
    border-bottom: none;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .navbar .link:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: #2fc7b8;
  }
  .navbar .hamburguer {
    display: none;
  }
  #aboutMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: 0;
        -ms-flex-pack: 0;
            justify-content: 0;
  }
  #aboutMe .section_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  #aboutMe .img {
    width: 300px;
    height: 300px;
  }
  #mySkills .card {
    width: 280px;
    height: 430px;
  }
  #myWork .content_myWork {
    width: 80%;
    max-width: 800px;
  }
}
/*# sourceMappingURL=style.css.map */